* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url(sunset-7076676_1280\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    animation: slideshow ;
    animation-duration: 10s;
    animation-delay: 1s;
    background-position: center;
    animation-direction: alternate;
    animation-iteration-count: 5;
    animation-iteration-count: infinite;
    overflow: hidden;
   
}

@keyframes slideshow {
    0% {
        background-image: url(sunset-7076676_1280\ \(1\).jpg);
    }
    50% {
        background-image: url(monika-grabkowska-P1aohbiT-EY-unsplash.jpg);
    }
    100% {
        background-image: url(muhammad-fawdy-cpAQmltpSF0-unsplash.jpg);
    }
        
}
header {
    background-color: #989e4b;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(40px);
    background: transparent;
}
.nav-container {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.name h1 {
    color: #259dbe;
    font-size: 29px;
    
}
.name h1 span {
    color: greenyellow;
    margin-right: 7px;
    margin-left: 10px;
}
.nav-bar ul li{
    display: flex;
    list-style: none;
    

}
.nav-bar ul {
    display: flex;
    gap: 30px;
}
.nav-bar ul li a {
    text-decoration: none;
    font-size: 20px;
    
}
.nav-bar ul li a:hover {
    color: #f007c2;
    transition: 0.3s;
}
.logins {
    display: flex;
}
.logins button {
    background-color: gold;
    padding: 15px 24px;
    border-radius: 13px;
    font-size: 16px;
    margin: 0 10px 0 0;
}
.logins button:hover {
    background-color: #259dbe;
    color: white;
    transition: 0.3s ease-in-out;
    transform: scale(1.08);
}
.message {
    margin: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 40px auto;
}
.message p {
    line-height: 30px;
    font-style: italic;
    color: white;
    text-align: center;

}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.search input {
    padding: 17px;
    border-radius: 11px;
    border: 1px solid #703d3d;
    width: 300px;
    margin-right: 10px;
}
.search button {
    padding: 15px 20px;
    border-radius: 11px;
    border: none;
    background-color: #259dbe;
    color: white;
    cursor: pointer;
}
.search input:hover {
    border: 1px solid #259dbe;
    transition: 0.3s;
    background-color: gold;
}
.search button:hover {
    background-color: gold;
    transition: 0.3s;
    transform: scale(1.08);
}
@media screen and (max-width: 768px) {
    .nav-container {
        flex-direction: row;
        align-items: center;
    }
    .nav-bar ul {
        flex-direction: column;
        gap: 10px;
        align-content: end;
    }
    .logins {
        flex-direction: column;
        align-items: flex-end;
    }
    .logins button {
        margin: 10px 0;
    }
    .message {
        width: 90%;
    }
    
}
.photos .photoimg {
    display: flex;
    background-color: #f02f04;
    width: 100px;
    height: 80px;
}
